body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:65px;
  width:780px;
  height:865px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
  color:#FFFFFF;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:191px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:294px;
  height:30px;
  color:#FFFFFF;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:159px;
  height:30px;
  color:#FFFFFF;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:177px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:195px;
  height:177px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:191px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:177px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:30px;
  width:294px;
  height:177px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:177px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:30px;
  width:159px;
  height:177px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:155px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:177px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:30px;
  width:132px;
  height:177px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:128px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:294px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:195px;
  height:294px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:191px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:294px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:207px;
  width:294px;
  height:294px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:294px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:207px;
  width:159px;
  height:294px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:155px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:294px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:207px;
  width:132px;
  height:294px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:128px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:150px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:501px;
  width:195px;
  height:150px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:191px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:150px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:501px;
  width:294px;
  height:150px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:150px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:501px;
  width:159px;
  height:150px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:155px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:150px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:501px;
  width:132px;
  height:150px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:128px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:214px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:651px;
  width:195px;
  height:214px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:99px;
  width:191px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:214px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:651px;
  width:294px;
  height:214px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:214px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:651px;
  width:159px;
  height:214px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:99px;
  width:155px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:214px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:651px;
  width:132px;
  height:214px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:99px;
  width:128px;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:22px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:119px;
  width:270px;
  height:141px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:289px;
  width:270px;
  height:267px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:584px;
  width:270px;
  height:123px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:735px;
  width:270px;
  height:195px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
